<h1><%= @list.name %></h1>
<%= link_to 'Back to list', lists_path , class: 'btn btn-primary' %>

<div>
  <h3>add a movie</h3>
  <%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.submit class:'btn btn-primary'%>
<% end %>
</div>

<div>
  <h2>Movies</h2>
  <% @list.bookmarks.each do |bookmark| %>
    <div>
      <%= bookmark.comment %>
      <%= image_tag bookmark.movie.poster_url %>
      <%= bookmark.movie.rating %>
      <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'text-decoration-none' do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </div>
  <% end %>
</div>

<div>
  <h3>Add your review</h3>
  <%= simple_form_for [@list, @review] do |f| %>
  <%= f.input :comment %>
  <%= f.input :rating, collection: (0..5) %>
  <%= f.submit class:'btn btn-primary'%>
<% end %>
</div>

<div>
  <h2>Reviews</h2>
  <% @list.reviews.each do |review| %>
    <div>
      <%= review.comment %>
      <%= review.rating %>
      <p>posted <%= time_ago_in_words(review.created_at) %> ago</p>
    </div>
  <% end %>
</div>
